/* header */
.header {
  display: flex;
  width: 100%;
  height: 170px;
  justify-content: center;
  align-items: end;
}

/* headerBottom */
.mainMenu {
  display: flex;
  position: relative;
  width: 1050px;
  height: 72px;
  margin: 0px auto;
  padding: 16px 0px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

/* 카테고리 */
.mainMenu__category {
  /* display: flex; */
  border: none;
  /* flex-direction: column; */
}

/* 카테고리 버튼 */
.categoryButton {
  display: flex;
  position: relative;
  width: 100px;
  height: 70px;
  border: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  font-size: var(--text-l6);
  font-weight: var(--bold);
}

/* 카테고리 버튼에 마우스 올렸을 떄 햄버거, 글자 색상, 마우스커서 변경 */
.categoryButton:hover {
  color: var(--primary);
  cursor: pointer;
}

.categoryButton:hover .hamburgerIcon {
  fill: var(--primary);
}

/* 카테고리에 마우스 올리면 목록 보이게 */
.mainMenu__category:hover .mainMenu__item {
  visibility: visible;
}

/* 카테고리 메뉴 목록 설정 */
.mainMenu__item {
  display: flex;
  visibility: hidden;
  position: absolute;
  top: 70px;
  left: 8px;
  border: var(--gray-200) 1px solid;
  flex-direction: column;
}

.mainMenu__item > li {
  display: flex;
  padding: 8px 70px 4px 10px;
  color: var(--content);
  align-items: center;
  font-size: var(--text-14);
  font-weight: var(--semi-bold);
}

.mainMenu__item > li > span {
  padding-left: 12px;
}

.mainMenu__item img {
  width: 24px;
  height: 24px;
}

/* 카테고리 메뉴 목록에 마우스 올렸을 때 */
.mainMenu__item > li:hover {
  background: var(--gray-50);
  color: var(--primary);
  fill: var(--primary);
  cursor: pointer;
}

/* 메인 메뉴 4개 묶음 */
.mainMenu__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menuButton {
  width: 150px;
  height: 40px;
  padding: 15px 50px;
  margin: 0px 1px;
  color: var(--content);
  text-align: center;
  background-color: var(--white);
  font-size: var(--text-l6);
  font-weight: var(--bold);
  text-decoration: none;
}

/* 메뉴 버튼 마우스 올렸을 때 */
.menuButton:hover {
  color: var(--primary);
  cursor: pointer;
}

.menuButton span:hover {
  border-bottom: var(--primary) 1px solid;
}

/* 샛별 택배 배송안내 */
.mainMenu__notice {
}

.noticeButton {
  display: flex;
  width: 120px;
  height: 27px;
  padding: 4px 8px;
  border: var(--gray-300) 1px solid;
  color: var(--content);
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 16px;
  font-size: var(--text-12);
  font-weight: var(--bold);
}

.point {
  color: var(--primary);
  padding-right: 3px;
}
