@import url(./normalize.css);
@import url(./reset.css);
@import url(./main.css);

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 숨김 콘텐츠 */
.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}